.offcanvas-body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: justify;
    font-size: larger;
    font-weight: bold;
    line-height: 3em;
    background-color: rgb(159, 151, 151);
}

.header {
    height: 200px;
    margin-bottom: -30px;
}

ul {
    list-style: none;
}

.profile {
    font-weight: normal;
    line-height: 2em;
}

.navbarr {
    border-radius: 15px;
    padding: 5px;
    height: auto;
    width: auto;
}

.navbarr :hover {
    border-radius: 15px;
    background-color: rgb(35, 199, 228);
}

.log-out {
    background-color: rgb(81, 77, 77);
    text-align: center;
    color: white;
    margin-bottom: 0px;
    margin-top: 100px;
}